<app-navbar></app-navbar>

<div class="container pb-5">
  <strong class="d-block mb-4">Next list in... {{countdown$ | async}}</strong>
  <div class="row">
    <div class="col col-md-12 col-lg-8">
      <h4 class="d-flex w100">Orders</h4>
      <div class="row border border-primary border-top-0 border-bottom-0 border-left-0">
        <div class="col col-md-6">
          <app-items-list [list]="(list$ | async)?.buy" [options]="options"></app-items-list>
        </div>
        <div class="col col-md-6">
          <app-items-list [list]="(list$ | async)?.sell" [options]="options"></app-items-list>
        </div>
      </div>
    </div>
    <div class="col col-lg-4">
      <h4 class="d-flex w100">Trades</h4>
      <div class="row">
        <div class="col">
          <app-items-list [list]="(list$ | async)?.trade" [options]="options" (selected)="showData($event)">
            <div *ngIf="tradeDealInfo" class="d-flex animated bg-primary trade-info" [ngClass]="{'fadeIn fast': showTradeInfo === true}" itemInfo>
              <div class="flex-column">
                <p>Trade Info</p>
                <span>{{tradeDealInfo.id}}</span>
              </div>
              <div class="flex-column">
                <p>Buy Order</p>
                <p>id: {{tradeDealInfo.buy.id}}</p>
                <p>price: {{tradeDealInfo.buy.price}}</p>
                <p>quantity: {{tradeDealInfo.buy.quantity}}</p>
              </div>
              <div class="flex-column">
                <p>Sell Order</p>
                <p>id: {{tradeDealInfo.sell.id}}</p>
                <p>price: {{tradeDealInfo.sell.price}}</p>
                <p>quantity: {{tradeDealInfo.sell.quantity}}</p>
              </div>
              <span class="pointer" (click)="closeInfoBox()">X</span>
            </div>
          </app-items-list>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
